dashboard
db
mysql
ollama
ollama-web
traefik
.env
.keys
docker-compose-*.yml
!docker-compose-app.yml
!docker-compose-anthropic.yml
!docker-compose-openai.yml
!docker-compose-elevenlabs.yml
!docker-compose-google.yml
!docker-compose-vosk.yml
!docker-compose-openai-realtime.yml
!docker-compose-ultravox.yml
!docker-compose-deepgram.yml
!docker-compose-n8n.yml
!docker-compose-gemini.yml
!docker-compose-local.yml
!docker-compose-humeai.yml
google.json
tools
model
n8n
data/*