services:
  dsai-core:
    image: agentvoiceresponse/dsai-core
    platform: linux/x86_64
    container_name: dsai-core
    restart: always
    environment:
      - PORT=5001
      - STS_URL=ws://dsai-sts-humeai:6039
      - WEBHOOK_URL=${WEBHOOK_URL:-http://host.docker.internal:3001/webhooks}
      - WEBHOOK_SECRET=${WEBHOOK_SECRET:-}
    ports:
      - 5001:5001
    networks:
      - dsai

  dsai-sts-humeai:
    image: agentvoiceresponse/dsai-sts-humeai
    platform: linux/x86_64
    container_name: dsai-sts-humeai
    restart: always
    environment:
      - PORT=6039
      - HUMEAI_API_KEY=$HUMEAI_API_KEY
      - HUMEAI_CONFIG_ID=$HUMEAI_CONFIG_ID
    networks:
      - dsai

  dsai-asterisk:
    image: agentvoiceresponse/dsai-asterisk
    platform: linux/x86_64
    container_name: dsai-asterisk
    restart: always
    ports:
      - 5038:5038
      - 5060:5060
      - 8088:8088
      - 8089:8089
      - 10000-10050:10000-10050/udp
    volumes:
      - ./asterisk/conf/manager.conf:/etc/asterisk/my_manager.conf
      - ./asterisk/conf/pjsip.conf:/etc/asterisk/my_pjsip.conf
      - ./asterisk/conf/extensions.conf:/etc/asterisk/my_extensions.conf
      - ./asterisk/conf/queues.conf:/etc/asterisk/my_queues.conf
      - ./asterisk/conf/ari.conf:/etc/asterisk/my_ari.conf
    networks:
      - dsai

  dsai-ami:
    image: agentvoiceresponse/dsai-ami
    platform: linux/x86_64
    container_name: dsai-ami
    restart: always
    environment:
      - PORT=6006
      - AMI_HOST=${AMI_HOST:-dsai-asterisk}
      - AMI_PORT=${AMI_PORT:-5038}
      - AMI_USERNAME=${AMI_USERNAME:-dsai}
      - AMI_PASSWORD=${AMI_PASSWORD:-dsai}
    ports:
      - 6006:6006
    networks:
      - dsai

  dsai-phone:
    image: agentvoiceresponse/dsai-phone
    platform: linux/x86_64
    container_name: dsai-phone
    restart: always
    ports:
      - 8080:80
    networks:
      - dsai

networks:
  dsai:
    name: dsai
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
