# Root ignores
node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/
backend/node_modules/
backend/dist/
data/*.db
data/*.sqlite
.env
docker-compose-asterisk.yml
recordings/**/*.wav